.textbf{font-weight: bold}
.myemph{font-style: italic;font-size:0.90em}
.mysmall{font-size:0.90em}
p { text-align: left; margin: 0px; line-height:1.3em}
p.noindent { text-indent: 0em }
p.indent{ text-indent: 1.3em }
.verse {margin-top:0.7em}
.verse p {margin-left:3.3em; text-indent: -2em;}
dd {margin-left: 1em}
dd.enumerate {margin-left: 4em}
dt {float:left; clear:left; margin-right:0.5em; text-align:right}
dt.enumerate {width:3.5em}
div.minipage{width:100%}
div.center {text-align: center}
div.ornamentHead {text-align: center; width:100%; page-break-after: avoid}
div.partOrnamentHead {text-align: center; width:100%; page-break-after: avoid}
img.ornamentfirst {max-width: 90%}
img.icon {width: 100%}
div.centericon {margin-right: 25%; margin-left: 25%; width:50%;}
img.centered-icon {width: 100%}
span.footnote-mark, sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; line-height:0.8em}
div.footnotes{border-top:solid 1px black; padding-bottom:1ex; padding-top:0.5ex; margin-right:15%; margin-top:2em; font-size:85%; text-align: left}
div.footnotes p{margin-top:0; margin-bottom:0; text-indent:0}
.partToc a, .partToc .chapterToc a, .chapterToc {font-weight:bold; page-break-inside: avoid; clear: both}
.chapterToc a, .chapterToc {margin-top:0.5em}
.partToc a, .partToc {margin-top:1em}
.partHead, .chapterHead, .likechapterHead, .sectionHead, .subsectionHead {text-align: center; margin-top:0.5em; line-height: 1em; page-break-after: avoid; page-break-inside: avoid}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify}
div.maketitle {text-align:center}
div.maketitle{ margin-bottom: 2em}
div.author, div.date {text-align:center}
.sectionToc{margin-left:2.5em; text-indent: -1em}
.bukvaToc {float: left; text-align: right; width: 3em; height: 2em;}
.subsubsectionToc {margin-left:6em}
 .wrapfig-r {margin-right: 25%; margin-left: 25%; width:50%} 
 .wrapfig-rt {margin-right: 32%; margin-left: 32%; width:36%} 
 .wrapfig-rw {margin-right: 15%; margin-left: 15%; width:70%} 
 .wrapfig-l {margin-right: 25%; margin-left: 25%; width:50%} 
 .wrapfig-lt {margin-right: 32%; margin-left: 32%; width:36%} 
 .wrapfig-lw {margin-right: 15%; margin-left: 15%; width:70%} 
body { font-family: "PT Serif"}
.nohyphens{
  hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
}
h1,h2,h3,h4,h5 { text-align: left;
  hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
  page-break-after: avoid;
  page-break-inside: avoid;
}
.titleHead{text-align:center}
.sectionHead{margin-top:0.8em; margin-bottom:0.6em; font-weight: bold; text-align: center; font-size: 1.17em}
.subsectionHead{text-align:center}
.subsubsectionHead {margin-top:0.7em; margin-bottom:0.5em; font-weight: bold; text-align: center; font-size: 1em; page-break-after:avoid; }
a { text-decoration: none; text-align: left }
.partTOCS, .chapterTOCS, .tableofcontents { text-align: left; margin-left:0; margin-bottom:1.5em}
span.titlemark { line-height: 300% }
li.itemize {text-align: left; margin-left: -0.3em;}

@font-face { font-style: normal; font-family: "PT Serif"; src: url(fonts/PTF55F.ttf)}
@font-face { font-style: italic; font-family: "PT Serif"; src: url(fonts/PTF56F.ttf)}
@font-face { font-weight: bold; font-family: "PT Serif"; src: url(fonts/PTF75F.ttf)}
@font-face { font-weight: bold; font-style: italic; font-family: "PT Serif"; src: url(fonts/PTF76F.ttf)}

td.td11{ padding-right:5pt; width: 50%; }
.centerline {text-align:center;}
.rightline {text-align:right;}
hr.myparsep{width:30%;margin-top:1.5em; margin-bottom:1em;height:2px;border-width:0;color:black;background-color:black;margin-right: 35%; margin-left: 35%; }

.lettrine{
	font-size: 4.5em; 
	float: left;
    vertical-align: text-top;
    display: inline-block;
    margin-right: .03em;
    margin-top:-0.165em;
    margin-bottom:-0.3245em;
    padding-top: 0em;
    line-height: 1.2em;
}
.lettrine-ante{vertical-align: top;}
.lettrine-letter{
}
.lettrine-A{margin-right: 0.3em;}
.lettrine-A + .lettrine-line{margin-left: -0.4em;}
.lettrine-À{margin-right: 0.3em;}
.lettrine-À + .lettrine-line{margin-left: -0.4em;}
.lettrine-J{line-height: 1; margin-right: 0;}
.lettrine-H, .lettrine-I, .lettrine-N, .lettrine-U{margin-right: 0;}
.lettrine-V{margin-right: -0.3em;}
.lettrine-V + .lettrine-line{margin-left: 0.3em;}
.lettrine-Q{padding-bottom: 1em;margin-top: -0.6em;}
/*.lettrine-Д{margin-bottom: -0.6em}*/
/*.lettrine-line{font-variant: small-caps;}*/
span.dropcaps { display: inline-block; vertical-align:text-top; font-size: 4.5em; float: left; margin-right: .03em; padding-top: 0.1em; }
span.afterA { margin-left: -0.5em; }
