\Preamble{xhtml,charset=utf-8,fn-in,jpg}

\Configure{crosslinks} {} {} {} {} {} {} {} {}

\Configure{TITLE+}{Молитвослов на всякую потребу}

\Configure{subsubsection}
    {}
    {}
    {\EndP\HCode{<br/><strong>}}
    {\HCode{</strong>}\EndP}

\Configure{HtmlPar}{\EndP\HCode{<p>}}{\EndP \HCode{<p>}}{\HCode{</p>}}{\HCode{</p>}}
 
\CutAt{part,chapter,likechapter}
\CutAt{chapter,likechapter}
\CutAt{section}

 
%\newcommand{\minicolumns}[2]{
%  \begin{tabular}{ p{0.5\textwidth} p{0.5\textwidth} }
%  #1 & #2 \\
%  \end{tabular}
%}

\newcommand{\minicolumns}[2]{
  #1\par\medskip
  \myemph{#2}\par
}

\newcommand{\myparsep}[1][0.3]{%
  \ifvmode \IgnorePar\fi \EndP \HCode{<hr class="myparsep"/>}}
 
%
% hook config for \myemph{} command
%
\newcommand{\myemph}[1]{\HCode{<i class="myemph">}#1\HCode{</i>}}
\newcommand{\myemphn}[1]{\HCode{<i class="myemphn">}#1\HCode{</i>}}

%
% hook config for \myemph{} command
%
\newcommand{\mysmall}[1]{{\small #1}}

%
% hook config for \textbf{} command
%
\renewcommand{\textbf}[1]{\HCode{<strong>}#1\HCode{</strong>}}

%
% in html, acute accenting can be achieved
% by placing &#x301; unicode value after desired character
% we redefine \'{} command and create new hook configuration
%
\renewcommand{\'}[1]{#1\Acute}
\NewConfigure{'}[1]{%
  \newcommand\Acute{#1}}
\Configure{'}{\HCode{&\#x301;}}

\Configure{halignTD} {}{}
   {<}{\HCode{ style="text-align:left;"}}
   {-}{\HCode{ style="text-align:center;"}}
   {>}{\HCode{ style="white-space:nowrap; text-align:right;"}}
   {^}{\HCode{ style="vertical-align:top;"}}
   {=}{\HCode{ style="vertical-align:baseline;"}}
   {|}{\HCode{ style="vertical-align:middle;"}}
   {_}{\HCode{ style="vertical-align:bottom;"}}
   {p}{\HCode{ style="text-align:left;"}\Protect\a:HColWidth}
   {m}{\HCode{ style="text-align:left; vertical-align:middle;"}}
   {b}{\HCode{ style="text-align:left; vertical-align:baseline;"}}
   {}

\begin{document}

\EndPreamble 
